body {
}

.slide {
	button {
		display: inline-block;
		margin-bottom: 5px;
	}
	.first-list {
		display: block;
	}
}
.first-list {
	display: inline-block;
	list-style-type: none;
	background: #ddd;
	width: 30%;
	border: 1px solid black;
	border-top: 1px solid transparent;
	cursor: pointer;
	li {
		padding: 10px;
		border-top: 1px solid black;
		font-size: 20px;
		display: block;
		width: 100%;
		transition: .3s;
		&:hover {
			color: #fff;
			transition: .3s;
			background: black;
		}
	}
}


.text {
	width: 50%;
	background: #ddd;
	padding: 20px;
	&.red {
		background: red;
		color: #fff;
	}
	&.blue {
		background: blue;
		color: #fff;
	}
	&.green {
		background: green;
		color: #fff
	}
	&.toggle {
		background: black;
		color: #fff;
	}
}
button {
	margin-top: 5px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	transition: .3s;
	&:hover {
		transition: .3s;
		opacity: .6;
	}
	&.red {
		background: red;
		color: #fff;
	}
	&.blue {
		background: blue;
		color: #fff;
	}
	&.green {
		background: green;
		color: #fff
	}
	&.black {
		background: black;
		color: #fff;
	}
}

.menu-dropdown {
	display: block;
	font-size: 0;
	.f-item-list {
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:hover {
			.list-down {
				position: absolute;
				left: 0;
				max-width: 160px;
				display: inline-block;
			}
		}
		.f-item-a {
			padding: 10px;
			display: block;
			font-size: 16px;
			text-transform: uppercase;
			background: #ddd;
			transition:.3s;
			&:hover {
				transition:.3s;
				background: black;
				color: #fff;
			}
		}
	}
	.list-down {
		font-size: 14px;
		display: none;
		li {
			padding: 5px 10px;
			background: black;
			border: 1px solid black;
			&:hover {
				transition: .3s;
				background:#fff;
				a {
					color: black;
				}
			}
			a {
				display: block;
				font-size: 12px;
				width: 100%;
				color: #fff;
				transition: .3s;
			}
		}
	}
}
