body {
}

.first-list {
	display: inline-block;
	list-style-type: none;
	background: #ddd;
	width: 30%;
	border: 1px solid black;
	border-top: 1px solid transparent;
	cursor: pointer;
	li {
		padding: 10px;
		border-top: 1px solid black;
		font-size: 20px;
		display: block;
		width: 100%;
		transition: .3s;
		&:hover {
			color: #fff;
			transition: .3s;
			background: black;
		}
	}
}


.text {
	width: 50%;
	background: #ddd;
	padding: 20px;
	&.red {
		background: red;
		color: #fff;
	}
	&.blue {
		background: blue;
		color: #fff;
	}
	&.green {
		background: green;
		color: #fff
	}
	&.toggle {
		background: black;
		color: #fff;
	}
}
button {
	margin-top: 5px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	transition: .3s;
	&:hover {
		transition: .3s;
		opacity: .6;
	}
	&.red {
		background: red;
		color: #fff;
	}
	&.blue {
		background: blue;
		color: #fff;
	}
	&.green {
		background: green;
		color: #fff
	}
	&.black {
		background: black;
		color: #fff;
	}
}
